html {
    margin: 20px;
    margin-top: 0px;
}

body {
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.joinnowbutton {
    width: 500px;
    height: 75px;
    background-color: white;
    color:rgb(146, 198, 246);
    border-color: rgb(146, 198, 246);
    font-size: 30px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.joinnowbutton:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(146, 198, 246);
}

.homeheader {
    font-size: 50px;
    font-weight: bold;
}

.joinheader {
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

.homedescription {
    text-align: center;
}

.joindescription {
    text-align: center;
    margin-top: 0px;
}

.learnmore {
    text-decoration: none;
    color: black;
}

.learnmore:hover {
    color: rgb(146, 198, 246);
}

.backhome {
    text-decoration: none;
    justify-self: left;
    color: black;
    font-size: 20px;
}

.backhome:hover, .apptitle:hover {
    color: rgb(146, 198, 246);
}

.ourboard {
    text-align: center;
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.imggrid {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: 20px, 200px, 5px;
    margin: 0px;
    background-color: #fafafa;
    width: 100%;
    padding-bottom: 20px;
}

.imggrid2 {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: 20px, 200px, 5px;
    margin: 0px;
    background-color: #fafafa;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.name {
    text-align: center;
    text-decoration: none;
    color: black;
}

.apptitle {
    margin-top: 15px;
}

.img {
    align-self: center;
}

.contact {
    display: grid;
    justify-items: center;
    justify-content: center;
}

.contactus {
    font-size: 30px;
    margin-bottom: 0px;
}

.contactinfo {
    text-align: center;
}